@model ProjetoWebMVC.Models.Vaga

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Vaga</h4>
    <hr />
    <form asp-action="Candidatar">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                Candidatar-se
            </dt>
            <dd>
                @Html.Hidden("IdVaga", Model.Id)  
                @Html.DropDownList("IdCandidato", new SelectList(ViewBag.candidatos, "Id", "Nome"))
                <input type="submit" value="Candidatar-se" class="btn btn-primary" />
            </dd>
        </dl>
        </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
